<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongo Example Error</title>
</head>
<body style="background-color: #00B7FF">

<section class="get">
        <h3 style="color: red;">Application Says : Error Occur, Check Log</h3>
</section>
</body>
</html>